<h1>DiNet HomePage</h1>

<p> <%= button_to "Host a Party", new_dinner_party_path, method: "get" %></p>

<% @dinners.each do |dinner| %>
<ul>
  <li>
    <%= link_to dinner.name, dinner %>
  </li>
</ul>

<% end %>


