  <!-- Displays Party List -->
    <% @dinners.each do |dinner| %>
    <div class="panel">
          <h5 class=""><%=dinner.name%></h5>

          <button type="button" name="See more party details"><%= link_to 'See More Details', dinner, class: "" %> </button>
      </div>
    <% end %>
